@model ArtShow
@{
    ViewBag.Title = "删除列表";
}
<h2>确认要删除该专辑?</h2>
<h2>@Model.Title by @Model.Author @@ @Model.ReleaseDate.ToString("yyyy-MM-dd")?</h2>

<form method="post">
    <div class="form-group row">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-danger">Do you confirm deletion?</button>
            <a asp-action="Index" class="btn btn-secondary">return</a>
        </div>
    </div>
</form>
