@model List<ArtShow>
@{
    ViewBag.Title = "作品招募";
}
<div class="container">
    <div>
        <a asp-action="Create" class="btn btn-primary">作品招募</a>
    </div>

    <div class="row" style=" display: flex;">

        @foreach (var al in @Model)
        {
            <div class="col-sm-12 col-md-6 col-lg-4 py-3 px-lg-5 " style=" flex: 1;">
                <partial name="_ArtCard" model="al" />

            </div>

        }
    </div>
</div>

